
.watchlist {
    display: flex;
    flex-direction: column;
    column-width: 100px;
    column-count: 2;
    align-items: center;
    // justify-content: left;;
    min-height: 100%;
    background-color: #a9a9aa;
    color: black;
    box-sizing: border-box;
    padding-top: 20px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100vw;
    height: 20px;
}

.watchlist h1 {
    font-size: 45px;
    padding-top: 20px;
}

.post-flex {
    position: absolute;
    right: 2px;
    top: 400px;
    flex-direction: column;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}
.stock-flex{
    width: 81vw;
    position: relative;
    left: 10px;
    top: 60px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: transparent;
    color: white;
}

.watchlist textarea {
    height: 180px;
    width: 140px;
    background-color: #A0B0BF;
    color: black;
    box-sizing: border-box;
    border: none;
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    position: absolute;
    right: 12px;
    top: 185px;
    border-radius: 4px;
}


.post-box {
    display: flex;
    background-color: #3BBA9C;
    max-width: 140px;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    margin: 10px;
    border-radius: 10px;
}

.symbol-box{
    position: relative;
    display: flex;
    background-color: black;
    height: 30vh;
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.symbol{
    position: relative;
    font-size: 50px;
    padding-left: 10px;
}

.postbtn{
    position: absolute;
    top: 370px;
    right: 80px;
    height: 30px;
    width: 54px;
    background-color: #3BBA9C;
    color: #2E3047;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    font-size: 18px;
}

.deletebtn1{
    background-color: transparent;
    color: white;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 8px;
    right: 14px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    z-index: 1000;
}
.deletebtn1:hover{
    cursor: pointer;
}
.btnimg{
    width: 15px;
    height: 15px;
    background-color: transparent;
    

}

.deletebtn2{
    background-color: transparent;
    color: #2E3047;
    position: absolute;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    right: -20px;
    top: 7px;

}
.deletebtn2:hover{
    cursor: pointer;
}

.stock-notes {
    color: white;
    position: relative;
    margin: 20px;
    border-radius: 10px;
}

.quote{
    top: 10px;
    position: absolute;
    left: 200px;
    font-size: 20px;
    color: black;
    height: 40px;
    width: 80px;
    background-color: #3BBA9C;
    border: none;
    border-radius: 5px;
}

.quote:hover {
    cursor: pointer;
    background-color: white;
    color: #444445;
}
.news{
    top: 10px;
    position: absolute;
    left: 300px;
    color: black;
    height: 40px;
    width: 80px;
    background-color: #3BBA9C;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
.news:hover {
    cursor: pointer;
    background-color: white;
    color: #444445;
}

.fullquote{
    display: flex;
    position: absolute;
    width: 20vw;
    height: 15vh;
    bottom: 25px;
    left: 10px;
    color: white;
    background-color: transparent;
    text-align: left;
}
.current{
    font-size: 40px;
}

.fullNews{
    display: flex;
    position: absolute;
    width: 40vw;
    height: 10vh;
    bottom: 135px;
    left: 400px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
}
.newsImg{
    position: absolute;
    height: 120px;
    width: 220px;
    left: -50px;
    top: 82px;
}
.headline{
    text-decoration: none;
    justify-content: left;
    text-align: left;
    color: white;
    position: absolute;
    font-size: 15px;
    width: 250px;
    left: 200px;
    top: 80px;
}

@media(max-width: 1024px){

    .watchlist {
        display: flex;
        min-height: 100%;
        background-color: #a9a9aa;;
        color: black;
        box-sizing: border-box;
        padding-top: 20px;
    }

    .stock-flex{
        width: 81vw;
        position: relative;
        left: 10px;
        top: 60px;
        display: flex;
        justify-content: left;
        flex-direction: column;
        background-color: transparent;
    }

    .symbol-box{
        // position: absolute;
        display: flex;        
        background-color: black;
        height: 50vh;
        width: 70vw;
        flex-direction:  row;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px;
        border-radius: 5px;
        font-size: 20px;
    }

    .quote{
        padding-top: 5px;
        padding-left: 10px;
        position: absolute;
        left: 15px;
        top: 321px;
        font-size: 20px;
        color: black;
        height: 40px;
        width: 80px;
        background-color: #3BBA9C;
        border: none;
        border-radius: 5px;
    }

    .symbol{
        position: absolute;
        font-size: 45px;
        padding-left: 10px;
        top: 10px;
        left: 4px
    }
    .news{
        position: absolute;
        left:200px;
        top: 321px;
        color: black;
        height: 40px;
        width: 80px;
        background-color: #3BBA9C;
        border: none;
        font-size: 20px;
        border-radius: 5px;
    }

    .fullquote{
        padding-left: 10px;
        display: flex;
        position: absolute;
        width: 20vw;
        height: 10vh;
        top: 90px;
        color: white;
        background-color: transparent;
        text-align: left;
    }
    .fullNews{
        display: flex;
        position: absolute;
        width: 20vw;
        height: 10vh;
        top: 97px;
        left: 220px;
        color: white;
        background-color: transparent;
        border-radius: 4px;
    }
    .newsImg{
        width: 200px;
        left: 100px;
        top: -75px;
    }
    .headline{
        text-decoration: none;
        justify-content: left;
        text-align: left;
        color: white;
        position: absolute;
        font-size: 15px;
        width: 130px;
        left: 100px;
    }
}

@media (max-width: 768px) {
    .newsImg{
        position: absolute;
        height: 45px;
        width: 80px;
        left: -20px;
        top: 10px;
    }
    .symbol-box{
        width: 60vw;
    }

    .headline{
        top: 60px;
        left: -20px;
        width: 90px;
    }

}